@model IEnumerable<ShoppingCartApp.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<h2>Which products you want to buy?</h2><p>Login to add items to cart.</p>
<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <b>Search By: </b>
        @Html.RadioButton("searchBy", "ProductName") <text> Product Name </text>
        @Html.RadioButton("searchBy", "ProductCategory", true) <text> Product Category </text> <br />
        @Html.TextBox("search")
        <input type="submit" value="Search" />
    }
</p>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice) Rs
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            
        </tr>
    }

</table>