@model IEnumerable<ShoppingCartApp.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<h2>Which products you want to buy?</h2>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice) Rs
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.ActionLink("Add", "Add", new { id = item.ProductId }) |
    
            </td>
        </tr>
    }

</table>